.Profile-cover {
  background-color: lightblue;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./bannerimage.jpg') center center no-repeat; */
  height: 70vh;
  width: 100%;
}

.Profile-section {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Profile-image {
  border: solid black 3px;
  box-shadow: 3px;
  transition: transform .2s;
}

.Profile-image:hover{
  transform: scale(1.1);
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 300px;
  height: 300px;
}

.img img:hover {
    zoom: 50%;
}

.social-media-icons{
  margin-top: 20px;
}

.social-media-icons i {
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 10px;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) { 

  .Profile-section h1 {
    font-size: 1rem;
  }

  .btn, .btn:hover {
    margin-top: 5px;
  }

  .img img {
    width: 100px;
    height: 100px;
  }

  .align-items-center {
    text-align: center;
  }

  .Profile-section {
    height: 60vh;
    width: 100%;
  }

 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

  .Profile-section h1 {
    font-size: 1rem;
  }

  .img img {
    width: 201px;
    height: 200px;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .Profile-cover{
    padding-top: 5rem;
  }

  .Profile-section h1 {
    font-size: 2rem;
  }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
 }


