.Profile-cover {
  background-color: lightblue;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./bannerimage.jpg') center center no-repeat; */
  height: 70vh;
  width: 100%;
}

.Profile-left {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Profile-right {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Profile-image {
  border: solid black 3px;
  box-shadow: 3px;
  transition: transform .2s;
}

.Profile-image:hover{
  transform: scale(1.1);
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 300px;
  height: 300px;
}

.img img:hover {
    zoom: 50%;
}

.social-media-icons{
  margin-top: 20px;
}

.social-media-icons i {
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 10px;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 600px) { 
  .d-flex {
    display: flex;
    flex-direction: column;
  }


  .Profile-left {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Profile-right {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img img {
    width: 200px;
    height: 200px;
  }
 }

 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 601px) { 
  .d-flex {
    display: flex;
    flex-direction: row;
  }


  .Profile-left {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Profile-right {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img img {
    width: 200px;
    height: 200px;
  }
}
 
 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 500px) { 

  }
  
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 600px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
 }


