*{
    margin: 0;
    padding: 0;
}

header {
    background-color: darkgray;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul li{
    display: inline;
    padding-left: 20px;
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

